<div class="navbar navbar-fixed-top navbar-inverse" style='font-weight:bold'>
    <div class="navbar-inner">
        <div class="container">
            <a class="brand " href="#/">
                HC
            </a>
            <ul class="nav nav-pills">
                <li ng-class="{ active: $state.includes('enum') }"><a href="#/enum/area">Enumeration</a></li>
                <li ng-class="{ active: $state.includes('hc') }"><a href="#/hc/area">HHQ</a></li>
                <li ng-class="{ active: $state.includes('resamp') }"><a href="#/resamp/area">Resampling</a></li>
                <li ng-class="{ active: $state.includes('report') }"><a href="#/report/11">Reports</a></li>
            </ul>
            <ul class='nav pull-right'>
                <li class=''><a href='' ng-click='sync()'> Synchronize</a></li>
                <li class=''><a href='' ng-click='logout()'><i class='icon-off icon-white'></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>