<div class="navbar navbar-fixed-top" style='font-weight:bold'>
    <div class="navbar-inner">
        <div class="container">
            <a class="brand " href="#/">
                ISHA Logistics
            </a>
            <ul class="nav nav-pills">
                <li ng-class="{ active: $state.includes('field') }"><a href="#/field/packing">Field</a></li>
                <li ng-class="{ active: $state.includes('lab') }"><a href="#/lab/unpacking">Lab</a></li>
                <li ng-class="{ active: $state.includes('shipment') }"><a href="#/shipment/packing">Barshi-Mumbai</a></li>
                <li ng-class="{ active: $state.includes('report') }"><a href="#/report/11">Reports</a></li>
                <li access-level="accessLevels.manager" ng-class="{ active: $state.includes('dashboard') }"><a
                        href="#/dashboard">Dashboard</a></li>
                <!--<li ng-class=""><a href="" ng-click="AppCtrl.cleanup()">Cleanup</a></li>-->
            </ul>
            <ul class='nav pull-right'>
                <li class=''><a href='#/sync'><i class='icon-refresh'></i> Synchronize</a></li>
                <li class=''><a href='' ng-click='NavCtrl.logout()'><i class='icon-off'></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>