
<div class='container'>
    <div class='row'>
        <div class='span6' >
            <webcam   on-streaming="onSuccess(video)"  ></webcam>
            <div>
                <button class='btn btn-primary btn-info btn-small' ng-click='makeSnapshot()'><i class='icon-camera icon-white'></i> Snapshot</button>
                <button ng-show='hasCaptured' class='btn btn-primary btn-info btn-small' ng-click='upload()'><i class='icon-arrow-up icon-white'></i> Upload</button>
            </div>
        </div>
        <div class='span6' ng-show='hasCaptured'>
            <canvas id='snapshot'></canvas>
            <div>
            </div>
        </div>
    </div>
</div>

