<div class='container' ng-controller="DeathCtrl">
    <h4>
        <span ng-show="$state.current.addNew" ng-if="canAddMore">
            <button  ng-click='addNew()' class='btn btn-info btn-small' autofocus="">
                <i class='icon-plus-sign icon-white'></i> Add
            </button>
        </span>

        {{$state.current.title}}
    </h4>
    <dhtmlx-grid></dhtmlx-grid>
    <h4><a href="" ng-click="$state.go('enum.houseDetail.household',$stateParams)" ng-if="!canAddMore">Next &#187;</a></h4>


</div>