<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppCtrl as AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>
    <link rel="stylesheet" type="text/css" href="assets/dhtmlx/dhtmlx.css">
    <link rel="stylesheet" type="text/css" href="assets/dhtmlx/skins/dhtmlxgrid_dhx_skyblue.css">

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
</head>
<body key-press-events>
<!-- Div for displaying toast messages -->
<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

<!-- Menu division -->
<div ng-include="'menu/menu-static.tpl.html'" access-level="accessLevels.user" ng-controller="NavCtrl as NavCtrl"></div>

<!-- Div for loading partials -->
<div class="container-fluid">
    <div class="row-fluid">
        <div ui-view="" style="margin-top:50px"></div>
    </div>
</div>

</body>
</html>
